# Histograms of Colors

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline,FunctionTransformer
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn import set_config
set_config(display="diagram")

## Creation

We first import the metadata and load only the images relative to `dev set` due to shortages of computation power.

In [2]:
metadata = pd.read_csv('dataset/metadata.csv', index_col=['src','slice_num'])
metadata.loc[metadata.partition=='dev','features'] = metadata[metadata.partition=='dev'].img_slice.apply(lambda x: np.load(x))
dev_data = metadata[metadata.partition=='dev']
dev_data.head()

                                               img_slice  \
src slice_num
0   79         og_dataset/splits/dev/slice_0_img_079.npy
    121        og_dataset/splits/dev/slice_0_img_121.npy
    174        og_dataset/splits/dev/slice_0_img_174.npy
2   10         og_dataset/splits/dev/slice_2_img_010.npy
    16         og_dataset/splits/dev/slice_2_img_016.npy

                                               mask_slice  glaciers  \
src slice_num
0   79         og_dataset/splits/dev/slice_0_mask_079.npy       0.0
    121        og_dataset/splits/dev/slice_0_mask_121.npy       0.0
    174        og_dataset/splits/dev/slice_0_mask_174.npy       0.0
2   10         og_dataset/splits/dev/slice_2_mask_010.npy       0.0
    16         og_dataset/splits/dev/slice_2_mask_016.npy       0.0

               clean_glaciers  debris_glaciers    img_mean            lng  \
src slice_num
0   79                    0.0              0.0  142.014130  394523.684211
    121                   0.0              0.0  113.703094  348977.894737
    174                   0.0              0.0  112.221992  470433.333333
2   10                    0.0              0.0  333.149292  317285.107228
    16                    0.0              0.0  317.823853  180647.872461

                        lat partition  label  \
src slice_num
0   79         3.648087e+06       dev    0.0
    121        3.693633e+06       dev    0.0
    174        3.739179e+06       dev    0.0
2   10         3.414856e+06       dev    0.0
    16         3.430038e+06       dev    0.0

                                                        features
src slice_num
0   79         [[[67.0, 49.0, 41.0, 45.0, 46.0, 130.0, 148.0,...
    121        [[[88.0, nan, nan, nan, nan, nan, nan, nan, 58...
    174        [[[73.0, 62.0, 50.0, 80.0, 73.0, 136.0, 159.0,...
2   10         [[[nan, nan, nan, nan, nan, nan, nan, nan, nan...
    16         [[[nan, nan, nan, nan, nan, nan, nan, nan, nan...

Now we create the pipeline that will handle our data and process each image into a set of features.

In [29]:
feature_names = ['LE7 B1 (blue)', 'LE7 B2 (green)', 'LE7 B3 (red)', 'LE7 B4 (near infrared)', 'LE7 B5 (shortwave infrared 1)', 'LE7 B6_VCID_1 (low-gain thermal infrared)', 'LE7 B6_VCID_2 (high-gain thermal infrared)', 'LE7 B7 (shortwave infrared 2)', 'LE7 B8 (panchromatic)', 'LE7 BQA (quality bitmask)', 'NDVI (vegetation index)', 'NDSI (snow index)', 'NDWI (water index)', 'SRTM 90 elevation', 'SRTM 90 slope']


pipe = make_column_transformer(
    (make_pipeline(
        Splitter(feature_names),
        ColorHistogram()
    ), ['features']),
)

histograms = pipe.fit_transform(dev_data)
histograms

C:\Users\Archimede\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\histograms.py:906: RuntimeWarning: invalid value encountered in divide
  return n/db/n.sum(), bin_edges

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [5.60326581e-07, 6.72391850e-06, 8.96522529e-06, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.46886251e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.15247838e-05, 1.61779142e-03, 4.19214012e-04, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

For each of the layers we can visualize the bin edges:

In [30]:
pipe.named_transformers_['pipeline'].named_steps['colorhistogram'].bins

{'LE7 B1 (blue)': array([ -3.7035968,   3.1043925,   9.912382 ,  16.720371 ,  23.52836  ,
         30.33635  ,  37.14434  ,  43.952328 ,  50.76032  ,  57.568306 ,
         64.3763   ,  71.18429  ,  77.99228  ,  84.80026  ,  91.60825  ,
         98.416245 , 105.224236 , 112.03223  , 118.84021  , 125.6482   ,
        132.45619  , 139.26418  , 146.07217  , 152.88016  , 159.68816  ,
        166.49614  , 173.30412  , 180.11212  , 186.9201   , 193.72809  ,
        200.53609  , 207.34407  , 214.15207  , 220.96005  , 227.76804  ,
        234.57603  , 241.38402  , 248.19202  , 255.       ], dtype=float32),
 'LE7 B2 (green)': array([ -2.6953838,   4.086074 ,  10.867531 ,  17.648989 ,  24.430447 ,
         31.211903 ,  37.993362 ,  44.77482  ,  51.556274 ,  58.337734 ,
         65.119194 ,  71.90065  ,  78.682106 ,  85.46356  ,  92.24502  ,
         99.02648  , 105.80794  , 112.58939  , 119.37085  , 126.152306 ,
        132.93376  , 139.71523  , 146.49667  , 153.27814  , 160.0596   ,
        166.84105  , 173.62251  , 180.40396  , 187.18542  , 193.96689  ,
        200.74834  , 207.5298   , 214.31125  , 221.09271  , 227.87418  ,
        234.65562  , 241.43709  , 248.21854  , 255.       ], dtype=float32),
 'LE7 B3 (red)': array([-38.29928   , -30.778784  , -23.25829   , -15.737795  ,
         -8.217301  ,  -0.69680667,   6.8236876 ,  14.344182  ,
         21.864676  ,  29.38517   ,  36.905666  ,  44.42616   ,
         51.946655  ,  59.467148  ,  66.98764   ,  74.50813   ,
         82.02863   ,  89.549126  ,  97.06962   , 104.59011   ,
        112.11061   , 119.6311    , 127.151596  , 134.67209   ,
        142.19258   , 149.71307   , 157.23358   , 164.75407   ,
        172.27457   , 179.79506   , 187.31555   , 194.83604   ,
        202.35654   , 209.87703   , 217.39752   , 224.91803   ,
        232.43852   , 239.95901   , 247.4795    , 255.        ],
       dtype=float32),
 'LE7 B4 (near infrared)': array([-50.749935 , -42.703884 , -34.657833 , -26.611782 , -18.565731 ,
        -10.519681 ,  -2.4736297,   5.5724216,  13.618472 ,  21.664524 ,
         29.710573 ,  37.756626 ,  45.802677 ,  53.84873  ,  61.89478  ,
         69.94083  ,  77.98688  ,  86.03293  ,  94.07898  , 102.12503  ,
        110.17108  , 118.21713  , 126.26318  , 134.30923  , 142.35529  ,
        150.40134  , 158.44739  , 166.49344  , 174.53949  , 182.58554  ,
        190.63159  , 198.67764  , 206.7237   , 214.76974  , 222.8158   ,
        230.86185  , 238.9079   , 246.95395  , 255.       ], dtype=float32),
 'LE7 B5 (shortwave infrared 1)': array([ -4.818408 ,   2.0189185,   8.856245 ,  15.693571 ,  22.5309   ,
         29.368225 ,  36.20555  ,  43.042877 ,  49.880203 ,  56.71753  ,
         63.554855 ,  70.39218  ,  77.22951  ,  84.06683  ,  90.90416  ,
         97.74149  , 104.57882  , 111.416145 , 118.25347  , 125.0908   ,
        131.92812  , 138.76544  , 145.60278  , 152.44011  , 159.27744  ,
        166.11476  , 172.95209  , 179.78941  , 186.62674  , 193.46407  ,
        200.30139  , 207.13872  , 213.97604  , 220.81337  , 227.6507   ,
        234.48802  , 241.32535  , 248.16267  , 255.       ], dtype=float32),
 'LE7 B6_VCID_1 (low-gain thermal infrared)': array([-4.96949625e+00,  3.02604176e-02,  5.03001690e+00,  1.00297737e+01,
         1.50295305e+01,  2.00292873e+01,  2.50290432e+01,  3.00288010e+01,
         3.50285568e+01,  4.00283127e+01,  4.50280685e+01,  5.00278282e+01,
         5.50275841e+01,  6.00273399e+01,  6.50270996e+01,  7.00268555e+01,
         7.50266113e+01,  8.00263672e+01,  8.50261230e+01,  9.00258789e+01,
         9.50256348e+01,  1.00025391e+02,  1.05025154e+02,  1.10024910e+02,
         1.15024666e+02,  1.20024422e+02,  1.25024178e+02,  1.30023941e+02,
         1.35023697e+02,  1.40023453e+02,  1.45023209e+02,  1.50022964e+02,
         1.55022720e+02,  1.60022476e+02,  1.65022232e+02,  1.70021988e+02,
         1.75021744e+02], dtype=float32),
 'LE7 B6_VCID_2 (high-gain thermal infrared)': array([ -3.2618818,   3.0348554,   9.331593 ,  15.628329 ,  21.925066 ,
         28.221804 ,  34.51854  ,  40.815277 ,  47.112015 ,  53.408752 ,
         59.70549  ,  66.00223  ,  72.298965 ,  78.5957   ,  84.89244  ,
         91.18918  ,  97.48591  , 103.782646 , 110.079384 , 116.37612  ,
        122.67286  , 128.9696   , 135.26634  , 141.56306  , 147.8598   ,
        154.15654  , 160.45328  , 166.75002  , 173.04675  , 179.34349  ,
        185.64023  , 191.93697  , 198.2337   , 204.53044  , 210.82718  ,
        217.12392  , 223.42065  , 229.71739  ], dtype=float32),
 'LE7 B7 (shortwave infrared 2)': array([-49.940845 , -41.91609  , -33.891327 , -25.866568 , -17.841808 ,
         -9.81705  ,  -1.7922909,   6.232468 ,  14.257227 ,  22.281986 ,
         30.306746 ,  38.331505 ,  46.356262 ,  54.381023 ,  62.40578  ,
         70.43054  ,  78.4553   ,  86.48006  ,  94.50482  , 102.52958  ,
        110.55434  , 118.579094 , 126.60385  , 134.62862  , 142.65337  ,
        150.67813  , 158.7029   , 166.72765  , 174.75241  , 182.77716  ,
        190.80193  , 198.82669  , 206.85144  , 214.8762   , 222.90097  ,
        230.92572  , 238.95049  , 246.97523  , 255.       ], dtype=float32),
 'LE7 B8 (panchromatic)': array([-15.770833 ,  -8.645285 ,  -1.5197365,   5.6058116,  12.7313595,
         19.856909 ,  26.982456 ,  34.108006 ,  41.23355  ,  48.3591   ,
         55.48465  ,  62.6102   ,  69.73575  ,  76.8613   ,  83.98684  ,
         91.11239  ,  98.23794  , 105.36349  , 112.48904  , 119.614586 ,
        126.740135 , 133.86568  , 140.99123  , 148.11678  , 155.24232  ,
        162.36787  , 169.49342  , 176.61897  , 183.74452  , 190.87007  ,
        197.99562  , 205.12115  , 212.2467   , 219.37225  , 226.4978   ,
        233.62335  , 240.7489   , 247.87445  , 255.       ], dtype=float32),
 'LE7 BQA (quality bitmask)': array([  -4.531066,   42.510315,   89.5517  ,  136.59308 ,  183.63446 ,
         230.67584 ,  277.71722 ,  324.7586  ,  371.8     ,  418.84137 ,
         465.88272 ,  512.92413 ,  559.9655  ,  607.0069  ,  654.0483  ,
         701.08966 ,  748.13104 ,  795.1724  ,  842.2138  ,  889.2551  ,
         936.2965  ,  983.3379  , 1030.3793  , 1077.4207  , 1124.462   ,
        1171.5034  , 1218.5448  , 1265.5862  , 1312.6276  , 1359.669   ,
        1406.7103  , 1453.7517  , 1500.7931  , 1547.8345  , 1594.8759  ,
        1641.9172  , 1688.9586  , 1736.      ], dtype=float32),
 'NDVI (vegetation index)': array([-7.8485856 , -7.369078  , -6.88957   , -6.410063  , -5.9305553 ,
        -5.451048  , -4.9715405 , -4.4920325 , -4.012525  , -3.5330176 ,
        -3.05351   , -2.5740023 , -2.0944948 , -1.6149873 , -1.1354797 ,
        -0.6559721 , -0.17646456,  0.303043  ,  0.7825506 ,  1.2620581 ,
         1.7415657 ,  2.2210732 ,  2.7005808 ,  3.1800885 ,  3.659596  ,
         4.1391034 ,  4.6186113 ,  5.098119  ,  5.577626  ,  6.0571337 ,
         6.536641  ,  7.016149  ,  7.4956565 ,  7.975164  ,  8.454672  ,
         8.934179  ,  9.413687  ], dtype=float32),
 'NDSI (snow index)': array([-1.290951  , -1.1420515 , -0.9931518 , -0.84425217, -0.69535255,
        -0.54645294, -0.39755332, -0.24865372, -0.09975411,  0.0491455 ,
         0.19804512,  0.34694472,  0.49584433,  0.644744  ,  0.7936436 ,
         0.9425432 ,  1.0914428 ,  1.2403424 ,  1.389242  ,  1.5381416 ,
         1.6870413 ,  1.8359408 ,  1.9848405 ,  2.1337402 ,  2.2826397 ,
         2.4315393 ,  2.5804389 ,  2.7293386 ,  2.8782382 ,  3.0271378 ,
         3.1760373 ,  3.324937  ,  3.4738367 ,  3.6227362 ,  3.7716358 ,
         3.9205356 ,  4.069435  ,  4.2183347 ], dtype=float32),
 'NDWI (water index)': array([-4.5378513 , -4.3677497 , -4.1976476 , -4.027546  , -3.857444  ,
        -3.6873422 , -3.5172405 , -3.3471386 , -3.1770368 , -3.006935  ,
        -2.836833  , -2.6667314 , -2.4966295 , -2.3265276 , -2.156426  ,
        -1.9863241 , -1.8162222 , -1.6461203 , -1.4760185 , -1.3059168 ,
        -1.1358149 , -0.9657131 , -0.79561126, -0.62550944, -0.45540762,
        -0.2853058 , -0.11520398,  0.05489784,  0.22499967,  0.3951015 ,
         0.5652033 ,  0.73530513,  0.90540695,  1.0755088 ,  1.2456106 ,
         1.4157124 ,  1.5858142 ], dtype=float32),
 'SRTM 90 elevation': array([  -6.4562683,  161.34521  ,  329.1467   ,  496.94818  ,
         664.74963  ,  832.55115  , 1000.3526   , 1168.154    ,
        1335.9556   , 1503.7571   , 1671.5586   , 1839.36     ,
        2007.1615   , 2174.963    , 2342.7644   , 2510.566    ,
        2678.3674   , 2846.169    , 3013.9705   , 3181.772    ,
        3349.5732   , 3517.3748   , 3685.1763   , 3852.9778   ,
        4020.7793   , 4188.5806   , 4356.3823   , 4524.1836   ,
        4691.9854   , 4859.7866   , 5027.5884   , 5195.3896   ,
        5363.191    , 5530.9927   , 5698.794    , 5866.5957   ,
        6034.397    , 6202.1987   , 6370.       ], dtype=float32),
 'SRTM 90 slope': array([-1.9081087,  0.3204058,  2.5489204,  4.777435 ,  7.0059495,
         9.234464 , 11.462978 , 13.691493 , 15.920008 , 18.148521 ,
        20.377037 , 22.60555  , 24.834066 , 27.06258  , 29.291094 ,
        31.51961  , 33.748123 , 35.97664  , 38.205154 , 40.433666 ,
        42.66218  , 44.890697 , 47.11921  , 49.347725 , 51.57624  ,
        53.804752 , 56.033268 , 58.261784 , 60.4903   , 62.71881  ,
        64.94733  , 67.17584  , 69.40436  , 71.63287  , 73.86138  ,
        76.0899   , 78.31841  , 80.54693  ], dtype=float32)}

And also the number of bins for each layer:

In [31]:
print('Bin size for each column')
fitted_bins = pipe.transformers_[0][1].steps[1][1].bins
for col, bin in fitted_bins.items():
    print(f'{col:45} {len(bin)}')

Bin size for each column
LE7 B1 (blue)                                 39
LE7 B2 (green)                                39
LE7 B3 (red)                                  40
LE7 B4 (near infrared)                        39
LE7 B5 (shortwave infrared 1)                 39
LE7 B6_VCID_1 (low-gain thermal infrared)     37
LE7 B6_VCID_2 (high-gain thermal infrared)    38
LE7 B7 (shortwave infrared 2)                 39
LE7 B8 (panchromatic)                         39
LE7 BQA (quality bitmask)                     38
NDVI (vegetation index)                       37
NDSI (snow index)                             38
NDWI (water index)                            37
SRTM 90 elevation                             39
SRTM 90 slope                                 38

Finally we assemble everything into a nice and tidy pandas Dataframe.

In [32]:
bin_lens = {col:len(bin)-1 for col, bin in fitted_bins.items()}
new_cols = [(col, i) for col, length in bin_lens.items() for i in range(length)]
d_hist = pd.DataFrame(histograms, columns=pd.MultiIndex.from_tuples(new_cols))
d_hist.index = dev_data.index
d_hist.head()

              LE7 B1 (blue)                                                    \
                         0         1         2         3         4         5
src slice_num
0   79         0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
    121        5.603266e-07  0.000007  0.000009  0.000006  0.000007  0.000008
    174        0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
2   10                  NaN       NaN       NaN       NaN       NaN       NaN
    16                  NaN       NaN       NaN       NaN       NaN       NaN

                                                       ... SRTM 90 slope       \
                     6         7         8         9   ...            27   28
src slice_num                                          ...
0   79         0.000000  0.000000  0.000004  0.009719  ...      0.000000  0.0
    121        0.000007  0.000008  0.000010  0.000015  ...      0.000000  0.0
    174        0.000000  0.000000  0.000000  0.000000  ...      0.000000  0.0
2   10              NaN       NaN       NaN       NaN  ...      0.000000  0.0
    16              NaN       NaN       NaN       NaN  ...      0.000019  0.0


                29   30   31   32   33   34   35   36
src slice_num
0   79         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
    121        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
    174        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   10         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
    16         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 561 columns]

Then we save everything to disk. To read it:
```python
pd.read_csv('dataset/hoc.csv', header=[0,1], index_col=[0,1])
```

In [45]:
d_hist.to_csv('dataset/hoc.csv')

## Analysis

There's a good chunk of NaN values in the final result.

In [33]:
print('Percentage of NaNs: %s%%' % round(d_hist.isna().sum().sum() / d_hist.shape[0] / d_hist.shape[1] *100, 2))

Percentage of NaNs: 14.78%

In [34]:
np.nansum(dev_data.features.loc[2,10][:,:,14]) / 512/ 512 #/15

# import matplotlib.pyplot as plt

# plt.imshow(dev_data.features.loc[2,10][:,:,3:6])

12.011905670166016

In [35]:
np.isnan(dev_data.features.loc[2,10][:,:,0]).sum() / 512/512

1.0

In [36]:
dev_data.loc[2,10]

img_slice                  og_dataset/splits/dev/slice_2_img_010.npy
mask_slice                og_dataset/splits/dev/slice_2_mask_010.npy
glaciers                                                         0.0
clean_glaciers                                                   0.0
debris_glaciers                                                  0.0
img_mean                                                  333.149292
lng                                                    317285.107228
lat                                                   3414856.056367
partition                                                        dev
label                                                            0.0
features           [[[nan, nan, nan, nan, nan, nan, nan, nan, nan...
Name: (2, 10), dtype: object

In [37]:
for name in feature_names:
    nan_val = d_hist.loc[:, name].isna().sum().iloc[0]
    print(name.ljust(45), nan_val)

LE7 B1 (blue)                                 18
LE7 B2 (green)                                19
LE7 B3 (red)                                  19
LE7 B4 (near infrared)                        19
LE7 B5 (shortwave infrared 1)                 18
LE7 B6_VCID_1 (low-gain thermal infrared)     19
LE7 B6_VCID_2 (high-gain thermal infrared)    19
LE7 B7 (shortwave infrared 2)                 18
LE7 B8 (panchromatic)                         18
LE7 BQA (quality bitmask)                     20
NDVI (vegetation index)                       19
NDSI (snow index)                             19
NDWI (water index)                            19
SRTM 90 elevation                             0
SRTM 90 slope                                 0

In [46]:
dev_data.head(10)

                                               img_slice  \
src slice_num
0   79         og_dataset/splits/dev/slice_0_img_079.npy
    121        og_dataset/splits/dev/slice_0_img_121.npy
    174        og_dataset/splits/dev/slice_0_img_174.npy
2   10         og_dataset/splits/dev/slice_2_img_010.npy
    16         og_dataset/splits/dev/slice_2_img_016.npy
    47         og_dataset/splits/dev/slice_2_img_047.npy
    173        og_dataset/splits/dev/slice_2_img_173.npy
    207        og_dataset/splits/dev/slice_2_img_207.npy
3   56         og_dataset/splits/dev/slice_3_img_056.npy
    65         og_dataset/splits/dev/slice_3_img_065.npy

                                               mask_slice  glaciers  \
src slice_num
0   79         og_dataset/splits/dev/slice_0_mask_079.npy  0.000000
    121        og_dataset/splits/dev/slice_0_mask_121.npy  0.000000
    174        og_dataset/splits/dev/slice_0_mask_174.npy  0.000000
2   10         og_dataset/splits/dev/slice_2_mask_010.npy  0.000000
    16         og_dataset/splits/dev/slice_2_mask_016.npy  0.000000
    47         og_dataset/splits/dev/slice_2_mask_047.npy  0.246052
    173        og_dataset/splits/dev/slice_2_mask_173.npy  0.191116
    207        og_dataset/splits/dev/slice_2_mask_207.npy  0.116890
3   56         og_dataset/splits/dev/slice_3_mask_056.npy  0.376938
    65         og_dataset/splits/dev/slice_3_mask_065.npy  0.000000

               clean_glaciers  debris_glaciers    img_mean            lng  \
src slice_num
0   79               0.000000         0.000000  142.014130  394523.684211
    121              0.000000         0.000000  113.703094  348977.894737
    174              0.000000         0.000000  112.221992  470433.333333
2   10               0.000000         0.000000  333.149292  317285.107228
    16               0.000000         0.000000  317.823853  180647.872461
    47               0.225334         0.020718  493.879822  195829.787435
    173              0.173862         0.017254  515.300476  286921.277280
    207              0.105595         0.011295  450.122375  347648.937177
3   56               0.347935         0.029003  495.190918  760657.583441
    65               0.000000         0.000000  253.115891  669565.800776

                        lat partition  label  \
src slice_num
0   79         3.648087e+06       dev    0.0
    121        3.693633e+06       dev    0.0
    174        3.739179e+06       dev    0.0
2   10         3.414856e+06       dev    0.0
    16         3.430038e+06       dev    0.0
    47         3.460402e+06       dev    1.0
    173        3.581859e+06       dev    1.0
    207        3.612224e+06       dev    1.0
3   56         3.462743e+06       dev    1.0
    65         3.477925e+06       dev    0.0

                                                        features
src slice_num
0   79         [[[67.0, 49.0, 41.0, 45.0, 46.0, 130.0, 148.0,...
    121        [[[88.0, nan, nan, nan, nan, nan, nan, nan, 58...
    174        [[[73.0, 62.0, 50.0, 80.0, 73.0, 136.0, 159.0,...
2   10         [[[nan, nan, nan, nan, nan, nan, nan, nan, nan...
    16         [[[nan, nan, nan, nan, nan, nan, nan, nan, nan...
    47         [[[-1.7699648, -1.5762353, -1.6766024, -1.5867...
    173        [[[-0.023158196, -0.29675427, -0.3828696, -0.7...
    207        [[[1.1996064, 1.2608747, 1.2172735, 1.615497, ...
3   56         [[[1.1996064, 1.2608747, 1.2172735, 0.42251736...
    65         [[[50.0, 39.0, 34.0, 57.0, 65.0, 121.0, 132.0,...